node_modules/
.DS_Store
.vscode/
.env
.claude/

# Ignore installer and cards
TreeSizeFreeSetup.exe
dist/**/TreeSizeFreeSetup.exe
*Busines Card*
dist/**/*Busines Card*

# Local Netlify folder
.netlify
